 <% include ./partials/header %>


<html>
 <head>
   <title> CDAC-FORUM </title>
   <link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 <style type="text/css">
  fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
	/*	background-color:#f5f5f5;*/
	    padding-left:10px!important;
	}

</style>
 </head>
<body>

<div>
		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
				  </button>
				  <a class="navbar-brand" href="/questions">CDAC-FORUM</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				  <ul class="nav navbar-nav">
					
					<li><a href="/AboutUs">ABOUT US</a></li> 
					
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
					<li><a href="/signup"><span class="glyphicon glyphicon-log-in"></span>Sign-Up</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
	</div>
<!-- <form class="form-inline"> -->
  <!-- <input id="search" type="text" name="search" placeholder="Search Query"> -->
<!-- </form> -->
</div>
</div>
<div>
  		<section>
  			<div class="page-header" id="header">
  				<h2 id="side">&emsp;Questions</h2>
  			</div>

  			<div class="row">
  				<div class="col-xs-10 col-sm-12 col-md-2 col-lg-2">
  					    <p>&emsp;&emsp;
                       <a href="/ask" class="btn btn-primary">Ask Question</a>
                   </p>	

  					
  				</div>
  				<div class="col-xs-10 col-sm-12 col-md-7 col-lg-7">
  				<div >
  					<ul>
            <% questions.forEach(function(question){ %>
            	<div style="padding:5px;">
  						<li>
  						<fieldset>
  						<div class="row form-inline">
  					
  							<ul class="nav navbar-nav navbar-right" style="float: right;">
           <li><%= question.CreatedAt.toDateString() %> &emsp;</li><li><%= question.course %> &emsp;</li>
           <li><%= question.module %></li>&emsp;&emsp;&emsp;       
                </ul>
  							</div>
  							<h2><%= question.title %></h2><br>
  						    <p>
                       <a href="/questions/<%= question._id %>" class="btn btn-primary">More Info</a>
                   </p>	
  						</fieldset>
  						</li>
  						</div>
  						<% }); %>
  					</ul>
  				</div>
  				</div>
  				<div class="col-xs-10 col-sm-12 col-md-3 col-lg-3">
  					<blockquote>
  					<h2>Top Viewed Posts</h2>
  					<ol>
  					  <% questions.forEach(function(question){ %>
  						<li>
  						<a href="/questions/<%= question._id %>"<h3><%= question.title %></h3></a>
  						</li>
  						<% }); %>
  					</ol>
  						</blockquote>
  				</div>
  			</div>
  			</section>
  	</div>
 </body>
</html>
<% include ./partials/footer %>
